.tasks{
	background-color: #fff;
	border-radius: 10px;
	padding: 10px 15px;
}

textarea{
	resize: none;
}
.select2-container .select2-selection--single{
	height: 34px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height: 34px;
	height: 34px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
	height: 34px;
}
.flexid+.alert.alert-danger{
	margin-left: 15px;
	margin-right: 15px;
}
 
.flexid{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-top: 10px;
	padding-bottom: 10px;
}

.hor-line{
	width: 100%;
	max-width: calc(100% - 30px);
	margin-left: 15px;
	margin-right: 15px;
	border-color: #eee;
}
.kart-img img{
	max-width: 54px;
}
.form-group.w100{
	width: 100%;
}
/*.files-upload-block{
	margin-top: 10px;
	border: 2px dashed #b6c2c9!important;
    background: #fff!important;
}*/
.table{
	margin-bottom: 10px;
	margin-top: 10px;
}
li.nav-profile.open-tag-menu{
    /*background: url(../img/cover-sidebar-user.jpg) no-repeat;*/
    /*background-size: cover;*/
    background: #001d37 !important;
}
li.nav-profile.open-tag-menu a{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
li.nav-profile.open-tag-menu+li{
	display: none;
}
li.nav-profile.open-tag-menu a:hover, li.nav-profile.open-tag-menu a:active, li.nav-profile.open-tag-menu a:focus{
	background: transparent;
}
.my-breadcrumb{
	margin-bottom: 10px;
}
.form-group .datepicker{
	padding: 0;
	max-width: 100% !important;
    min-width: 100% !important;
}
.flexid-radio{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	height: 34px;
}
.flexid-radio .radio{
	margin: 0;
	padding-right: 20px;
}
.flexid-radio label{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.flexid-radio .radio input{
	margin-top: 0;
}
.btns-form-modal{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}
.modal-dialog .panel{
	margin-bottom: 0;
}
th a{
    color: #337ab7;
    text-decoration: none;
}
.avatar-kart{
	width: 45px;
}
.radio-pointer{
	pointer-events: none;
}
div#content .table-condensed>tbody>tr>td, div#content .table-condensed>tbody>tr>th, div#content .table-condensed>tfoot>tr>td, 
div#content .table-condensed>tfoot>tr>th, div#content .table-condensed>thead>tr>td, div#content .table-condensed>thead>tr>th{
	padding: 5px;
	vertical-align: middle;
	text-align: center;
}
div#content .bootstrap-select.btn-group:not(.input-group-btn), div#content .bootstrap-select.btn-group[class*="span"]{
	margin-bottom: 0;
}
td.skip-export.kv-align-center.kv-align-middle.crud-datatable .btn.btn-info{
	background-color: transparent;
	padding: 5px;
	border: 0;
	font-size: 14px;
	color: #333;
	margin-right: 5px;
}
td.skip-export.kv-align-center.kv-align-middle.crud-datatable .btn.btn-info:hover{
	color: #777;
}
.my-art a{
	display: inline-block;
	margin-left: 5px !important;
}
.img-main-user input{
	display: none;
}
.img-main-user{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-end;
	align-items: flex-end;
}
.img-main-user span{
	margin-bottom: 0;
	height: 81px;
	flex: 0 0 81px;
	display: inline-block;
	width: 81px;
	overflow: hidden;
	/*cursor: pointer;*/
}
.img-main-user span img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.img-main-user label{
	cursor: pointer;
	/*padding-left: 10px;*/
	color: #0026FFFF;
	margin-left: 10px;
}

.my-table-style{
	/*max-height: 650px;*/
	overflow: auto;
}
.my-art{
	margin-bottom: 10px;
}
.my-art a{
	float: none !important;
}
.select2-container{
	width: 100% !important;
}
 
.dropzone.dz-started .dz-message{
	display: block !important;
	margin: 0 !important;
}
.dropzone.dz-clickable {
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}
td.skip-export.kv-align-center.kv-align-middle.crud-datatable{
	white-space: nowrap;
}
td.skip-export.kv-align-center.kv-align-middle.crud-datatable a{
	display: inline-block;
	margin-right: 4px;
}
.back-fone{
	/*background-color: #eee;*/
}
.text-middle td, .text-middle th{
	vertical-align: middle !important;
}
.down-file{
	margin-top: 20px;
}
.down-file-users{
	text-align: center;
}
.down-file-users img{
	width: 40px;
	height: auto;
}
.down-file table th, .down-file table td, .polz th, .polz td{
	text-align: center;
}
.down-tit{
	margin-top: 20px;
}
.execut{
	margin-bottom: 20px;
}
.panel-body .my-chats.chats{
	padding: 12px 15px 15px
}
div#myModal3 .modal-dialog{
	width: 500px;
}
.block-inp-chat input{
	width: 100%;
	border: 1px solid #eee;
	padding-right: 40px;
}

.block-inp-chat .form-group{
	position: relative;
}
.block-inp-chat button{
	position: absolute;
	right: 0;
	top: 0;
	background-color: transparent;
	border: 0;
	line-height: 34px;
	padding-right: 15px;
	cursor: pointer;
	outline: none;
}
form#demo-upload2{
	min-height: inherit;
}
form#demo-upload2.dropzone .dz-message{
	margin: 0 !important;
	/*float: left;*/
	text-align: left !important;
}
.datepicker.dropdown-menu{
	z-index: 9999;
}
.upload-image input{
    display: block !important;
    width: 158px !important;
    height: 35px !important;
    opacity: 0 !important;
    overflow: hidden !important;
    
}
.upload-image label{
	cursor: pointer !important;
	color: blue !important;
}
.upload-image {
  cursor:pointer;
  width: 158px;
  overflow:hidden;
  position:relative;
  display:inline-block;
  /*background-color:#fff;*/
  background-repeat: no-repeat;
 /* background-image:
    url('http://icons.iconarchive.com/icons/martz90/circle/512/camera-icon.png');
  background-size:20px 20px;*/
}









@media screen and (min-width: 1199px){
	#left-id1, #right-id6{
		height: 600px;
		overflow-y: auto;
	}
	#right-id2{
		height: 270px;
		overflow-y: auto;
	}
	#right-id3{
		height: 240px;
		overflow-y: auto;
	}
	#left-id1::-webkit-scrollbar, #right-id2::-webkit-scrollbar, #right-id3::-webkit-scrollbar {
	  width: 1em;
	}
	 
	#left-id1::-webkit-scrollbar-track , #right-id2::-webkit-scrollbar-track , #right-id3::-webkit-scrollbar-track {
	  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	}
	 
	#left-id1::-webkit-scrollbar-thumb, #right-id2::-webkit-scrollbar-thumb, #right-id3::-webkit-scrollbar-thumb {
	  background-color: darkgrey;
	  outline: 1px solid slategrey;
	}
}



@media screen and (max-width: 1199px){
	.modal-dialog{
		max-width: 90%;
	}
}






@media screen and (max-width: 1023px){
	.tasks label{
		min-height: 34px;
		line-height: 1.2;
	}
	.hor-line{
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 767px){
	.tasks label{
		min-height: auto;
		line-height: 1.2;
	}
	.files-upload-block button,.files-upload-block span.btn.btn-success.fileinput-button{
		margin-bottom: 5px;
	}
	.fileupload-buttonbar .toggle, .files .toggle, .files .btn span{
		display: inline-block;
	}
	button.btn.btn-primary.btn-sm.start{
		margin-bottom: 5px;
		width: 100%;
	}
	button.btn.btn-white.btn-sm.cancel{
		width: 100%;
	}
	.my_table{	
		max-width: 100%;
		overflow-x: auto;
		text-align: center;
	}
	.my_table tr td:nth-child(3){
		min-width: 200px;
	}	
	.my_table .table>tbody>tr>td, .my_table .table>tbody>tr>th, .my_table .table>tfoot>tr>td, 
	.my_table .table>tfoot>tr>th, .my_table .table>thead>tr>td, .my_table .table>thead>tr>th{
		text-align: center;
		padding: 5px;
	}
	.my_table>p{
		text-align: left;
	}
	.modal-dialog{
		max-width: inherit;
	}
	.panel-heading.myet{
		padding: 0;
	}
	.nuset .modal-body{
		padding: 0;
	}
	.files-upload-block+table{
		max-width: 100%;
		overflow-x: auto;
	}
	div#myfile .panel-body.panel-form.tasks {
	    padding: 0 10px !important;
	}
	.dropzone.dz-clickable{
		max-width: calc(100% - 30px);
		margin-left: 15px;
		margin-bottom: 20px;
	}
	div#myfile .dropzone.dz-clickable{
		max-width: 100%;
		margin-left: 0px;
		margin-bottom: 0px;
	}
}
@media (min-width: 768px){
	.modal-dialog {
	    width: 1100px;
	    margin: 30px auto;
	}

}
@media (max-width: 350px){
	.my-art a{
		padding-left: 5px;
		padding-right: 5px;
	}
}
.select-vneshtat:not(.active),.podryad:not(.active){
	display: none;
}












